*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right bottom, rgba(255,0,0,.2), rgba(0,0,0,.2)) ,url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #333;
}

.container{
    /* -webkit-backdrop-filter: blur(55%); */
    background: rgba(255,2550,255,.3);
    backdrop-filter: blur(3px);
    padding: 30px;
    box-shadow:  0 0 5px rgba(0,0,0,.3), 0 5px 5px rgba(0,0,0,.2);
    text-align: center;  
    border-radius: 5px;  
    min-width: 50%;
    max-width: 75%;
    padding: 100px 30px;
}
.container h2{
    margin: 0 0 2rem 0;
    font-size: 2.4rem;
    color: #fcddaf;
    text-shadow: 1px 1px rgba(0,0,0,.4);
    
}
.container h3{
    font-size: 1.4rem;
    text-align: left;
    margin-top: 2rem;   
}
.btn{
    outline: 0;
    border: 0;
    background: rgba(255,255,255,.4);
    padding: 10px 30px;
    margin-right: 10px;
    border-radius: 3px;
    backdrop-filter: blur(2px);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #444;
    transition: all .1s;
    box-shadow: 0 5px 5px rgba(0,0,0,.3);
}
.btn-counter{
    background: rgba(255,0,32,.4);
}
.btn-save{
    background: rgba(0,255,32,.4);
}
/* @keyframes btn-red{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 5px 5px 35px rgba(255,0,0,.4),-5px -5px 35px rgba(255,0,0,.4) ;
    }
}
@keyframes btn-green{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 5px 5px 35px rgba(0,255,0,.4),-5px -5px 35px rgba(0,255,0,.4) ;
    }
} */
.btn:hover{
    transform: translateY(-.1rem); 
}
.btn:active{
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    transform: translate(0);
}

h6{
    margin: 2rem 0 0 0;
    font-size: 1.2rem;
}
@media(max-width: 300px){
    
    .btn-save{
        margin-top: 1rem;
    }    
}
@media(max-width: 339px){
    .container h2{
        width: 100%;
        font-size: 18px;
    }    
}

